div{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    color: white;
}